#footer{
    background-color: dimgrey;
    color: white;
    width: 2000px;
    text-align: center;
    vertical-align: middle;
}
.box1,.box2,.box3{
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    padding-left: 10px;
}
.box1{
    background-color: red;
}
.box2{
    background-color: green;
}
.box3{
    width: 200px;
    height: 100px;
    background-color: blue;
    clear: both;
}